<div class="container">
  <div class="wrap">
    <div class="top">
      <div class="head">
        <img class="logo" src="../../../assets/logo.png">
        <span class="title">芜湖中域网络科技有限公司</span>
      </div>
      <div class="desc">来自超级牛逼的互联网科技公司后台管理系统</div>
    </div>
    <router-outlet></router-outlet>
    <global-footer>
      Copyright
      <i class="anticon anticon-copyright"></i> 2017
      <a href="javascript:void(0)">JianGuo</a>出品
    </global-footer>
  </div>
</div>
